body {
  background-color: #5CA0FF;
  font-family: "Oswald", sans-serif;
}

* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0.3rem;
  left: 0;
  right: 0;
  width: 90%;
  margin: auto;
  padding: 0.8rem 8rem;
  box-shadow: 0 0 10px #0005;
  

  border-radius: 0.5rem;
  backdrop-filter: blur(10px);
  background-color: #fff2;
  
  overflow: hidden;
  z-index: 100;
}
  
  a {
    position: relative;
    display: inline-block;

/*  change length inbetween pages*/
    padding: 0.6rem;
    padding-left: 4rem;
    
    color: inherit;
    text-shadow: 0 0 5px rgba(#000, 0.8);
    letter-spacing: 2px;
  }

h3 {
  text-align: center;
}

