body {
  background-color: #669BBC;
/*  font-family: "Oswald", sans-serif;*/
}

/*index.html*/
* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0.3rem;
  left: 0;
  right: 0;
  width: 90%;
  margin: auto;
  padding: 0.8rem 8rem;
  box-shadow: 0 0 10px #0005;
  
  border-radius: 0.5rem;
  backdrop-filter: blur(10px);
/*  background-color: #fff2;*/
  
  overflow: hidden;
  z-index: 100;
}

.active {
  color: #86A873;
  text-decoration: none;
}

.links {
  color: #3D5467;
  text-decoration: none;
}

  a {
    position: relative;
    display: inline-block; 

/*  change length inbetween pages*/
    padding: 0.6rem;
    padding-left: 4rem;
    
    color: inherit;
    text-shadow: 0 0 5px rgba(#000, 0.8);
    letter-spacing: 2px;
  }

h3 {
  text-align: center;
  padding-top: 30px;
  font-size: 50px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 100px;
}

/*body {
  all: unset;
}
*/
.slides {
  color: white;
  font-size: 50px;
  line-height: 1;
  max-height: 100vh;
  overflow-y: auto;
}

.slides__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 10px;
  min-height: 100vh;
  position: relative;
  
  &:nth-child(odd) {
    background-color: #669BBC;
  }
  
  &:nth-child(even) {
    background-color: #E6D8C7;
  }
  
  a {
    color: isnherit;
  }
}

/*importance.html*/
h2 {
  padding-top: 90px;
  text-align: center;
}

p2 {
  color: black;
}