.color {
  background-color: #ECE2D5;
    font-family: "Koh Santepheap", serif;
}
/*index.html*/
* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0.3rem;
  left: 0;
  right: 0;
  width: 90%;
  margin: auto;
  padding: 0.8rem 8rem;
  box-shadow: 0 0 10px #0005;
  
  border-radius: 0.5rem;
  backdrop-filter: blur(10px);
  background-color: #fff2;
  
  overflow: hidden;
  z-index: 100;
}

.active {
  color: #BB0A21;
  text-decoration: none;
  font-family: "Koh Santepheap", serif;
}

.links {
  color: #3D5467;
  text-decoration: none;
  font-family: "Koh Santepheap", serif;
}

  a {
    position: relative;
    display: inline-block; 

/*  change length inbetween pages*/
    padding: 0.4rem;
    padding-left: 2.2rem;
    
    color: inherit;
    text-shadow: 0 0 5px rgba(#000, 0.8);
    letter-spacing: 2px;
  }

h3 {
  text-align: center;
  padding-top: 30px;
  font-size: 50px;
}

h{
  font-size: 80px;
  color: black;
}
.indextext {
  color: black;
  font-size: 40px;
}



:root {
  --alabaster: #ffffff;
  --beige: #EAE9D0;
  --citrine: #C9E3AC;
  --chili-red: #90BE6D;
  --murrey: #8F204F;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  isolation: isolate;
}
.button {
  isolation: isolate;
  color: var(--alabaster);
  font-size: 26px;
  line-height: 1.5;
  font-weight: 600;
  border-radius: 9999rem;
  background: var(--chili-red);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 90px;
  overflow: hidden;
  transition: 200ms ease-out;
  
  & > .backdrop {
    z-index: 1;
    transition: 150ms ease-out;
  }
  &:is(:hover, :focus) {
    background: color-mix(in oklab, var(--chili-red), black 40%);
    transition: 250ms ease-out;
    
    & > .backdrop {
     scale: 0.8;
     opacity: 0.5;
    }
    & > .overlay {
      transform: translateY(0);
    }
  }
}

.pagelinks {

  height: 200px;
  position: relative;
  position: absolute;
  top: 80%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}




.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 100px;
}

.slides {
  color: white;
  font-size: 50px;
  line-height: 1;
  max-height: 100vh;
  overflow-y: auto;
}

.slides__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 10px;
  min-height: 100vh;
  position: relative;
  
  &:nth-child(odd) {
    background-color: #9CBED3;
  }
  
  &:nth-child(even) {
    background-color: #ECE2D5;
  }
  
  a {
    color: isnherit;
  }
}

/*importance.html*/
h2 {
  padding-top: 90px;
  text-align: center;
}

p2 {
  color: black;
}

/*mission */

.earth {
  float: left;
}

.textlinks{
  color: black;position: relative;
    display: inline-block; 
    letter-spacing: 1px;
    padding: 0.6rem;
    padding-left: 2px;
  }
}

/*purpose*/
.statistics {
    width: 100%;
}

.statistics-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.statistics-card {
    width: 150px;
    height: auto;
}

.statistics-card > img {
    max-width: 48px;
    height: 48px;
    display: block;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.statistics-card > p {
    text-align: center;
    color: black;
    margin-bottom: 10px;
}

.statistics-card > h2 {
    text-align: center;
    color: black;
    margin-bottom: 15px;
    font-size: 30px;
}

@media only screen and (max-width: 1470px) {
    .statistics-container {
        gap: 80px 200px;
    }
}

.second {
  padding-top: 50px;
  color: black;
}

.statistics .stats {
  transition: all 0.5s ease-in-out;
    text-align: center;
    color: black;
    margin-bottom: 10px;
    font-size: 20px;
}

.statistics .stats:hover {
  transform: scale(1.1);
  color: #90BE6D;
}






/*swaps.html*/
.tables {
  padding-top: 90px;
  margin-right: 10%;
  margin-left: 10%;
}

/*zerowaste.html*/
.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*General Styling*/
.et_pb_text ol{
margin-left: 30%;
margin-right: 30%;
text-align:justify;
}

.et_pb_text ol {
position: relative;
padding-left: 60px;
margin-bottom: 20px;
list-style: none !important;
}
 
.et_pb_text ol li {
position: relative;
margin-top: 0em;
margin-bottom: 20px;
}

/*number styling*/
.et_pb_text ol li .number_divider {
position: absolute;
font-weight: 800;
font-size: 2em;
left: -60px;
top: -5px;
}

/*line styling*/
.et_pb_text ol li:before {
content: "";
background: #CCD5AE;
position: absolute;
width: 2px;
top: 1px;
bottom: -21px;
left: -24px;
}

/*dot styling*/
.et_pb_text ol li:after {
content: "";
background: #CCD5AE;
position: absolute;
width: 15px;
height: 15px;
border-radius: 100%;
top: 1px;
left: -31px;
}

/*removes line from last number*/
.et_pb_text ol li:last-child:before {
content: "";
background: #ECE2D5;
}


/*shop.html*/


.shopcards {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
/*  flex-wrap: wrap;*/
}
.container .card {
  position: relative;
  width: 20rem;
  height: 30rem;
  background: #CCD5AE;
  margin: 30px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}
.card-image {
  width: 15rem;
  height: 15rem;
}
.card-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.content h3 {
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
}
.content p {
  text-align: center;
  font-size: 20px;
  margin-top: 0.5rem;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}











.lightbox {
  /* Hidden lightbox image */
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);

.lightboximage {
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
  }

  &:target {
    /* Show the lightbox */
    display: block;
  }
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 3em;
  color: #fff;
  text-decoration: none;
}

.thumbnail {
  max-width: 180px;
}

.thumbnail-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}







.globe{
  position: relative;
  margin-left: 100px;
  margin-top: 100px;
  height: 200px;
  width: 200px;
  
}
.go{
  position: absolute;
  height: inherit;
  width: inherit;
  background: url("https://maprepublic.com/wp-content/uploads/2017/05/kanawa-world-map-large.jpg");
  border-radius: 50%;
  box-shadow: inset 15px 0px 15px 1px black;
  background-size: 350px;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: rotate(-10deg);
}

@keyframes rotate {
  from{ background-position: 0px;}
  to{ background-position: 350px;}
}






.container {
    margin-top: 3px;
    margin-bottom: 6px;
  }